@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;

/* Estilos sobre mi */

section {
    div.contenedor-sobre-mi {
        text-align: center;
        margin: 10px;
        img{
            border-radius: 50%;
        }
        h3{
            color:$btn-explorar;
        }
    }
}

 /* Fin estilos sobre mi */